body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(0, 156, 177);
}
#counter{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
#circle1{
    height: 165px;
    width: 165px;
    background-color:#696878;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#shadowring{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#circle2{
    height: 196px;
    width: 196px;
    background-color:#BBD9DB;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

#button{

    background-color:rgb(218, 22, 201);
    padding:50px;
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    color:white;
}